<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885652618284-7vmq112vitg7cfken33v57e9nl50mm10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885652618284-7vmq112vitg7cfken33v57e9nl50mm10</string>
	<key>API_KEY</key>
	<string>AIzaSyAvIEb3q0lrrsLO4VQM-6ZEDggzAIKif6E</string>
	<key>GCM_SENDER_ID</key>
	<string>885652618284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.AustinMatteo.FaceDetectionReal</string>
	<key>PROJECT_ID</key>
	<string>face-detection-a25e0</string>
	<key>STORAGE_BUCKET</key>
	<string>face-detection-a25e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885652618284:ios:f722964d53ce27c6b72589</string>
	<key>DATABASE_URL</key>
	<string>https://face-detection-a25e0.firebaseio.com</string>
</dict>
</plist>